.first-screen
	background: url('../img/first-screen/bg.jpg') no-repeat
	background-size: cover
	background-position-y: -3em
	height: 100vh
	width: 100%
.header
	width: 100%
	height: 58px
	margin-top: 31px
	display: flex
	justify-content: space-between
	align-items: center
	&__logo
		width: 172px
		height: 100%
		img
			width: 100%
			height: 100%
	&-menu
		width: 650px
		display: flex
		justify-content: space-between
		align-items: center
		&_tablet
			display: none
		&__link
			font-family: $Roboto-Regular
			color: $white
			letter-spacing: 1.44px
			font-size: 18px
			&:hover
				color: $white
	&__arrow
		display: none
.offer
	margin-top: 50px
	&__title
		text-align: center
		font-family: $Helvetica-Bold
		font-size: 52px
		letter-spacing: 3.64px
		line-height: normal
		color: $white
		height: 100px
		margin-bottom: 0
	&__blocks
		max-width: 970px
		margin: 35px auto 0
		display: flex
		justify-content: space-between
	&__block
		width: 270px
		height: 270px
		background: $white
		border-radius: 40px
		+shadow
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		position: relative
		&::after
			content: "+"
			color: rgba($white, .5)
			font-family: $Helvetica-Bold
			font-size: 68px
			line-height: normal
			position: absolute
			right: -30%
			top: 45%
			transform: translate(-45%, -30%)
		&:last-child::after
			display: none
	&__img
		max-width: 130px
		max-height: 130px
		width: 100%
		height: 100%
		margin-bottom: 18px
	&__text
		font-family: $Helvetica-Medium
		font-size: 20px
		letter-spacing: 1.2px
		line-height: normal
		text-align: center
		display: block
		color: $main-color
.price-block
	max-width: 582px
	margin: 24px auto 0
	color: $white
	text-align: center
	&__title
		text-transform: uppercase
		font-family: $Helvetica-Medium
		font-size: 22px
		line-height: normal
		letter-spacing: 1.32px
		margin-bottom: 10px
	&__price
		font-family: $Helvetica-Bold
		font-size: 109px
		line-height: normal
		letter-spacing: 8.72px
	&__item
		max-width: 320px
		margin: auto
		text-align: left
		display: flex
		align-items: center
		position: relative
		font-size: 20px
		&:before
			content: ""
			width: 12px
			height: 12px
			background: $white
			border-radius: 50%
			position: absolute
			left: -20px
	&__button
		display: flex
		justify-content: center
		align-items: center
		color: $white
		font-family: $Helvetica-Roman
		font-size: 26px
		line-height: 35px
		letter-spacing: 2.08px
		text-transform: uppercase
		width: 470px
		height: 105px
		border-radius: $brs
		background: $main-gradient
		box-shadow: 5px 0 99px rgba(0, 0, 0, 0.16)
		margin-top: 15px
		+transition
		&:hover
			+button-hover
	&__text
		display: block
		color: $primary
	&__phone
		color: $primary
@media (max-width: 1440px)
	.offer
		margin-top: 20px
		&__block
			width: 260px
			height: 260px
			&::after
				top: 45%
				right: -30%
				transform: translate(-30%, -45%)
		&__img
			max-width: 110px
			max-height: 110px
	.price-block
		&__price
			font-size: 99px
			line-height: 100px
			margin-bottom: 0
		&__item
			max-width: 280px
@media (max-width: 1280px)
	.first-screen
		height: 100%
	.offer
		&__title
			height: auto
		&__block
			height: 220px
			width: 260px
	.price-block
		&__price
			font-size: 80px
			line-height: 77px
		&__button
			height: 90px
			margin-top: 5px
@media (max-width: 1024px)
	.first-screen
		background-position-y: center
@media (max-width: 900px)
	.first-screen
		background: url("../img/first-screen/bg-tablet.jpg") no-repeat
		height: 100%
		background-size: cover
		width: 100%
		background-position-y: -12em
	.header
		flex-direction: column
		height: 100%
		margin-top: 15px
		&-menu
			display: none
			&_tablet
				position: relative
				display: flex
				transform: translateY(-200px)
				+transition
				&_active
					transform: translateY(0)
					margin-bottom: 20px
		&__arrow
			display: block
			width: 22px
			height: 14px
			position: relative
			+transition
			cursor: pointer
			&_reverse
				transform: rotate(180deg)
				margin-bottom: 20px
			&::after
				content: ""
				display: block
				width: 3px
				height: 11px
				background: $white
				position: absolute
				right: 6px
				transform: rotate(45deg)
				+transition
				bottom: 0
			&::before
				content: ""
				display: block
				width: 3px
				height: 11px
				background: $white
				position: absolute
				left: 6px
				transform: rotate(-45deg)
				+transition
				bottom: 0
	.offer
		width: 100%
		&__title
			font-size: 45px
			line-height: 42px
			height: auto
		&__blocks
			max-width: 707px
			margin: 26px 15px 0
		&__block
			width: 205px
			height: 205px
			&::after
				font-size: 44px
				width: 31px
				right: -25%
				top: 45%
				transform: translate(-45%,-25%)
		&__img
			width: 90px
			height: 90px
	.price-block
		margin-top: 27px
		&__price
			font-size: 109px
			line-height: normal
		&__button
			margin-top: 15px
		&__title
			font-size: 22px
		&__price
			font-size: 109px
		&__item
			max-width: 350px
			font-size: 20px
		&__button
			width: 479px
			height: 105px
			font-size: 26px
@media (max-width: 769px)
	.first-screen
		background-size: auto
		background-position-y: -3em
@media (max-width: 576px)
	.first-screen
		background: url("../img/first-screen/bg-mobile.jpg") no-repeat
		background-size: cover